<aside>
  <h3>Our Facility</h3>
  <ul class="gym">
    <li><h4>Unlimited WiFi Connection</h4></li>
    <li><h4>Member Music Requests &amp; Voting</h4></li>
    <li><h4>Open 24 hours 7 / days a week</h4></li>
    <li><h4>Cardio Machine Movie Theater</h4></li>
  </ul>
</aside>
