<div class="slide-wrap">
  <section class="slider">
    <ul class="slider1">
      <li><%= image_tag(src="https://www.w3newbie.com/wp-content/uploads/chest-fly.png", :alt => "rss feed") %></li>
    </ul>
  </section>
</div><!-- End #slide-wrap -->
