<section class="one-third">
  <div class="circle">
    <td><i class="fa fa-users"></i></td>
  </div><!-- End #circle -->
  <h3>Grade A Staff</h3>
  <p>We are an independent gym that is committed to working with you to gain the results you want. Whether your aim is to loose weight, tone up, build bulk or gain weight we can put together a gym programme or recommend the right classes for you to attend in our studios.</p>
</section>
