<section class="one-third">
  <div class="circle">
    <td><i class="fa fa-map-marker"></i></td>
  </div><!-- End #circle -->
  <h3>A Convenient Location</h3>
  <p>Our members benefit from a free gym programme and review every month, free studio classes and price reductions on our personal training sessions. As a member you can also access our pool and tennis courts for free and have priority for booking any of the pre-book activities, classes or sessions that we run.</p>
</section>
