<section class="one-third">
  <h3>Free Weights</h3>
  <%= image_tag(src="https://www.w3newbie.com/wp-content/uploads/free-weights.jpg") %>
  <p>Sarah had lost a lot of weight while planning her wedding and through the stress of starting her new job, which was a big promotion. She felt she looked too skinny and felt tired, so with the help of a well planned diet and a toning programme for the gym, set by one of our instructors, she is back to her normal weight and feels healthier again.</p>
</section>
