<section class="one-third">
  <h3>Ladies Section</h3>
  <%= image_tag(src="https://www.w3newbie.com/wp-content/uploads/ladies-gym.jpg") %>
  <p>Jane had set herself the goal of losing 1 stone and running the Great South Run the year after she gave birth to her little girl. With the help of our personal training sessions she achieved her goal and her little girl was there to watch her cross the finishing line.</p>
</section>
