<section id="footer-third" class="one-third">
  <h3>Social</h3>
  <ul class="social">
    <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"</i></a></li>
    <li><a href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus"</i></a></li>
    <li><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"</i></a></li>
    <li><a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube"</i></a></li>
  </ul>
</section>
