<section class="one-third">
  <h3>The Gym Floor</h3>
  <%= image_tag(src="https://www.w3newbie.com/wp-content/uploads/gym-floor.jpg") %>
  <p>Rob was told for health reasons that he needed to lose 5 stone. He started swimming 3 times a week and then, when he felt ready, started going to Boxercise. He has now lost 6 stone and actually likes exercising!</p>
</section>
