<section id="footer-third" class="one-third">
  <h3>Contact</h3>
  <p class="footercontact">The Gym<br><b class="phone">205-525-5005</b><br><br>17 20th St N<br>Birmingham, AL 35203<br></p>
</section>
