<section class="one-third">
  <div class="circle">
    <td><i class="fa fa-check-square-o"></i></td>
  </div><!-- End #circle -->
  <h3>Check Us Out - Free!</h3>
  <p>f you don’t want to commit to being a member you can still use all of our facilities but you will need to have an induction session before using the facilities to ensure that Health and Safety requirements are met – you don’t want to injure yourself on your first visit and ruin all your good intentions!</p>
</section>
